# Fundamentals of Data Analysis Tasks

---

**Author: Damien Farrell**

---

## Task One

> The Collatz conjecture is a famous unsolved problem in mathematics. The problem is to prove that if you start with any positive integer $x$ and repeatedly apply the function $f(x)$ below, you always get stuck in the repeating sequence $1, 4, 2, 1, 4, 2, ...$
$$
f(n) = 
\begin{cases} 
n \div 2 & \text{if } n \text{ is even} \\
3n + 1 & \text{if } n \text{ is odd}
\end{cases}
$$
Your task is to verify, using Python, that the conjecture is true for the first 10,000 positive integers.

**Function f(x) to carry out the calculation.**

In [1]:
from tqdm.notebook import tqdm

In [2]:
def f(x):
    if x % 2 == 0:
        return x // 2
    else:
        return (3 * x) + 1

**Fuction collatz(x) to loop through the calculation until $x = 1$.**

In [3]:
def collatz(x, verbose=False):
    while x != 1:
        if verbose:
            print(x, end=', ')
        x = f(x)
    if verbose:
        print(x, end='\n')
        print()
    return x

**Fuction verify(y) to verify the Collatz conjecture on $y$ number of positive integers.**

In [4]:
def verify(y, verbose=False):
    for i in range(1, y + 1):
        result = collatz(i, verbose)
        if result != 1:
            print(f'The Collatz conjecture is false, it failed on integer {i}')
            return

    print(f'The Collatz conjecture is verified to be true on {y:,} number of positive integers')

To show the calculation on each iteration, set verbose = True.

In [5]:
verify(10_000, verbose=False)

The Collatz conjecture is verified to be true on 10,000 number of positive integers

---

## Task Two

In [14]:
import pandas as pd
import numpy as np

url_name = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv'

df = pd.read_csv(url_name)

In [15]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

***
# End